<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "bfbbdcf69c71ea2aa7174cba53ffd6e1";</script>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <h1>Mother's Day Deals!!!</h1>

    <div class="row">
      <div class="container">

  <!--       <div class="col-md-4">
          left content
        </div>

        <div class="col-md-4 col-md-offset-4">

          <div class="yellow-background">
            text -->
            <div class="pull-right">
              <h2>Group Members</h2>
              <% @group.users.each do |fam| %>
                <a href="/users/<%= fam.id %>"><%= fam.email %></a>
              <% end %>

              <div style="padding-top:50px">
                <h2>Business Lookup</h2>
                <% @group.users.each do |fam| %>
                  <a href="/users/<%= fam.id %>"><%= fam.email %></a>
                <% end %>
              </div>
            </div>
          </div>

        </div>

  <!-- groupon deals -->
  <div class="nine columns">
                          <figure data-bhw="collection-hero-deal" class="featured-deal" data-bhw-path="collection-hero-deal">
                            <a class="img-wrap" href="https://www.groupon.com/deals/derby-donuts" data-bhc="deal:65d88e01-add0-c2d3-885e-9ffacaf70ba1" data-bhd="{&quot;permalink&quot;:&quot;derby-donuts&quot;}" data-bhc-path="collection-hero-deal|deal:65d88e01-add0-c2d3-885e-9ffacaf70ba1">
                              <img src="https://img.grouponcdn.com/deal/xhY7umdx9QoP3gpHw5Gx/N2-2048x1229/v1/c698x422.jpg" alt="Donuts and Coffee at Derby Donuts (Up to 50% Off). Two Options Available.">
                              <figcaption>
                                              <span class="btn-buy">View Deal</span>
                                <h1>Up to 50% Off Donuts at Derby Donuts</h1>
                                <p class="deal-price">
                                  <s class="original-price">$18.58</s>

                  $10
                                </p>
                              </figcaption>
                            </a>
                          </figure>

                        <ul data-bhw="collection-deal" class="block-grid two-up" data-bhw-path="collection-deal">
                            <li>
                              <figure class="deal-card">
                              <a href="https://www.groupon.com/deals/cheryl-s-218" data-bhc="deal:a1b59dc4-588f-b7bb-22a3-cc75e0ef6309" data-bhd="{&quot;permalink&quot;:&quot;cheryl-s-218&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:a1b59dc4-588f-b7bb-22a3-cc75e0ef6309">
                                <img src="https://img.grouponcdn.com/deal/dpsAD6BL8C2fNdTgGXPX/Xc-700x420/v1/t440x300.jpg" alt="$15 for $30 Worth of Cookies, Cakes, and Baked Goods from Cheryl's">
                                <figcaption>
                                                  <p class="deal-title">50% Off Cookies and Cakes from Cheryl's</p>
                                  <p class="merchant-name">Cheryl's</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$30</s>

                    $15
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
            <li>
                              <figure class="deal-card">
                              <a href="https://www.groupon.com/deals/corso-s-cookies-169" data-bhc="deal:e77bcddc-e829-31a6-d2fb-5624cdd4f46c" data-bhd="{&quot;permalink&quot;:&quot;corso-s-cookies-169&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:e77bcddc-e829-31a6-d2fb-5624cdd4f46c">
                                <img src="https://img.grouponcdn.com/deal/jxmhzHXUTsfe1DWiT6bG/z2-700x420/v1/t440x300.jpg" alt="$30 for $60 Worth of Cookie Bouquets and Shipping from Corso’s Cookies (50% Off).">
                                <figcaption>
                                                  <p class="deal-title">50% Off from Corso’s Cookies</p>
                                  <p class="merchant-name">Corso's Cookies</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$60</s>

                    $30
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
        </ul>
                              <ul data-bhw="collection-deal" class="block-grid two-up" data-bhw-path="collection-deal">
                            <li>
                              <figure class="deal-card">
                                <a href="https://www.groupon.com/deals/ftd-1-wichita" data-bhc="deal:ac315c36-713c-0739-4909-8d8f13407b38" data-bhd="{&quot;permalink&quot;:&quot;ftd-1-wichita&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:ac315c36-713c-0739-4909-8d8f13407b38">
                                <img src="https://img.grouponcdn.com/deal/iw3GK5ot3B1kiUA9MBA8/z7-700x420/v1/t440x300.jpg" alt="Flowers and Gifts from FTD.com (50% Off).">
                                <figcaption>
                                                  <p class="deal-title">FTD.com – Half Off Flowers and Gifts</p>
                                  <p class="merchant-name">FTD.com</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$40</s>

                    $20
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
            <li>
                              <figure class="deal-card">
                                <a href="https://www.groupon.com/deals/ethel-m-chocolates-2-amarillo" data-bhc="deal:ccc4ddeb-68f3-e97b-dfee-d25774aba0d1" data-bhd="{&quot;permalink&quot;:&quot;ethel-m-chocolates-2-amarillo&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:ccc4ddeb-68f3-e97b-dfee-d25774aba0d1">
                                <img src="https://img.grouponcdn.com/deal/6XM2s5eZf4ihwT9D6ndB/Rt-783x470/v1/t440x300.jpg" alt="$50 Worth of Gourmet Ethel M Chocolates and Candy">
                                <figcaption>
                                                  <p class="deal-title">40% Off Gourmet Candies from Ethel M Chocolates</p>
                                  <p class="merchant-name">Ethel M Chocolates</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$50</s>

                    $30
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
            <li>
                              <figure class="deal-card">
                                <a href="https://www.groupon.com/deals/shari-s-berries-307-wichita" data-bhc="deal:fb503310-9432-e381-b98f-07235dfe037a" data-bhd="{&quot;permalink&quot;:&quot;shari-s-berries-307-wichita&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:fb503310-9432-e381-b98f-07235dfe037a">
                                <img src="https://img.grouponcdn.com/deal/47hAsSYv5kKeJxzoLSRL/Bq-700x420/v1/t440x300.jpg" alt="$15 for $30 Worth of Gourmet Dipped Strawberries and Treats from Shari's Berries">
                                <figcaption>
                                                  <p class="deal-title">50% Gourmet Dipped Strawberries and Treats from Shari's Berries</p>
                                  <p class="merchant-name">Shari's Berries</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$30</s>

                    $15
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
            <li>
                              <figure class="deal-card">
                                <a href="https://www.groupon.com/deals/mymms-com-300-wichita" data-bhc="deal:835b0e7a-9ea7-968f-5bce-abc100835816" data-bhd="{&quot;permalink&quot;:&quot;mymms-com-300-wichita&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:835b0e7a-9ea7-968f-5bce-abc100835816">
                                <img src="https://img.grouponcdn.com/deal/fQFHUAU9JEAnprcVqzVQ/25-700x420/v1/t440x300.jpg" alt="Personalized M&amp;M'S from MyMMs.com (50% Off). Two Options Available.">
                                <figcaption>
                                                  <p class="deal-title">50% Off Personalized M&amp;M'S from MyMMs.com</p>
                                  <p class="merchant-name">MyMMs.com</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$30</s>

                    $15
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
            <li>
                              <figure class="deal-card">
                                <a href="https://www.groupon.com/deals/cherry-moon-farms-152-wichita" data-bhc="deal:cfd6ac64-9473-b238-380e-e7b1b6741837" data-bhd="{&quot;permalink&quot;:&quot;cherry-moon-farms-152-wichita&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:cfd6ac64-9473-b238-380e-e7b1b6741837">
                                <img src="https://img.grouponcdn.com/deal/5NEz4Q2Cws8k7Qf9d9mV/a3-700x420/v1/t440x300.jpg" alt="$15 for $30 Worth of Candies, Cookies, Chocolates, and Gifts from Cherry Moon Farms ">
                                <figcaption>
                                                  <p class="deal-title">Half Off Treats from Cherry Moon Farms </p>
                                  <p class="merchant-name">Cherry Moon Farms</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$30</s>

                    $15
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
            <li>
                              <figure class="deal-card">
                                <a href="https://www.groupon.com/deals/gg-gourmet-lollipops-6" data-bhc="deal:4bb1d830-1c4f-f8e1-9255-c4ebe9e414f4" data-bhd="{&quot;permalink&quot;:&quot;gg-gourmet-lollipops-6&quot;}" data-bh-viewport="respect" data-bhc-path="collection-deal|deal:4bb1d830-1c4f-f8e1-9255-c4ebe9e414f4">
                                <img src="https://img.grouponcdn.com/deal/7t5brXHquwQGep9FbeF2/72-960x582/v1/t440x300.jpg" alt="60 Gourmet Lollipops in Assorted Flavors">
                                <figcaption>
                                                  <p class="deal-title">60 Gourmet Lollipops in Assorted Flavors</p>
                                  <p class="merchant-name">60 Gourmet Lollipops in Assorted Flavors</p>
                                  <p class="deal-location"></p>
                                  <p class="deal-price">
                                    <s class="original-price">$30</s>

                    $19.99
                                    </p>
                                </figcaption>
                                </a>
                              </figure>
                            </li>
              </ul>
                    </div>

  <!-- groupon end -->

</body>
</html>



